body {
  background-color: #f8f8f8;
}

.menu, ul a {
  font-size: 17px;
  font-style: normal;
  color: darkblue;
  text-decoration: none;
  list-style-type: none;
  opacity: 0.7;
  margin: 0 auto;
  padding: 7px;

}
.menu {
  display: inline-flex;
  position: relative;
  left: 555px;
}

.menu a:hover, .active_menu {
  color: #5d9eb4;
  opacity: 1;
  border-bottom: 2px solid steelblue;
}


.header {
  width: 876px;
  background-color: aliceblue;
  margin: auto;
  padding-left:25px;
  height: auto;
  border: 1px solid steelblue;
}

.container {
  width: 900px;
  border: 1px solid steelblue;
  margin: auto;
}

.logo_img {
  text-align: center;
  overflow: hidden;
  margin-right: 25px;
  margin-top: 10px;
}

.body {
  background-color: #e2edf3;
  display: inline-block;
  padding: 10px;
  margin-top: -10px;
}

.hidden_menu {
  display: none;
}

.body_cont {
  background-color: #e2edf3;
  margin-top: -22px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.footer {
  width: 900px;
  border: 1px solid steelblue;
  margin: auto;
  background-color: aliceblue;
  color: gray;
  margin-top: -10px;
  padding-bottom: 30px;
}

.footer p {
  float: right;
  margin: 0 10px 0 0;
}

